.navbar {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.navbar a i {
  font-size: 17px;
  position: relative;
  top: -1px;
}
